<!DOCTYPE html>
<html>
 <head>
  <title>Bootstrap Demo</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
   <link rel="stylesheet" href="../css/bootstrap.min.css">

   <!--Bootstrap CSS-->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
   <style type="text/css">   
  .line{
    width: 3000px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    }
</style>
  </head>
<body>
 <header>
   <nav class="navbar navbar-default">
    <a href="#"class="navbar-brand">ProCubes</a>
    
    
    <nav class="nav navbar-nav navbar-right">
     <a href="login.jsp" class="navbar-brand">Logout</a>
      
    </nav>
   </nav>
 <div class="line"></div>
 </header>
 <h1>Get in touch </h1>
  
</body>
</html>
   