<!DOCTYPE html>
<html>
 <head>
  <title>Bootstrap Demo</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
   <link rel="stylesheet" href="../css/bootstrap.min.css">

   <!--Bootstrap CSS-->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script>
     function onSubmit(){
    	 alert("Thank You for your feedback !!");
     }
    
    </script>
  </head>
<body>
 <header>
   <nav class="navbar navbar-default">
    <a href="#"class="navbar-brand">ProCubes</a>
    
    
    <nav class="nav navbar-nav navbar-right">
     <a href="login.jsp" class="navbar-brand">Logout</a>
      
    </nav>
   </nav>
 
 </header>
 <center>
 <h1>Submit an Idea !! </h1>
  <textarea rows=20 cols=100></textarea><br>
  
   <button id="submit" class="btn btn  btn-primary " type="submit" onClick="onSubmit();">submit</button> 
 
 </center>
 
  
</body>
</html>
   