<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regret</title>
</head>
<body>
  <p> Dear Student, </p><br>
  <p> Thank you, for applying. It was indeed a pleasure to understand more about your skills and accomplishments.</p><br><br>
  <p>We regret to inform you that we were not able to process further your candidature at this juncture.</p><br><br>
  <p>Thank you once again for your interest to be part of ProCubes and wishing you all the best.</p><br><br>
  <p>Regards,</p><br>
  <p>ProCubes Team.</p>
</body>
</html>